HARETROPANEL_PORT=8080
HA_BASE_URL=http://homeassistant.local:8123
HA_TOKEN=your_long_lived_access_token_here
HARETROPANEL_TITLE=HARetroPanel - Home Assistant panel

HARETROPANEL_LOG_DIR=./logs
HARETROPANEL_LOG_ROTATION=daily  # daily | hourly | never
HARETROPANEL_LOG_LEVEL=haretropanel=info,tower_http=info
